.card {
    height: 420px;
    width: 500px;
    background: #c9d6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #c9d6ff, #e2e2e2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #c9d6ff, #e2e2e2);
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    padding: 25px;
    margin-top: 10px;
    z-index: 0;
    box-shadow: 0px 8.5px 10px rgba(0, 0, 0, .3);
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    overflow: hidden;
}

.flip {
    transform: rotateY(180deg);
}

.contact-front, .contact-back {
    text-align: center;
    transform-style: preserve-3d;
    transition: 1s;
}

.contact-front {
    backface-visibility: hidden;
}

.contact-back {
    overflow: hidden;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: none;
}

.contact-label {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 28px;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, .1);
    border-bottom: 1px solid black;
}

.contact-label-edit {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 26px;
    text-shadow: 3px 4px 5px rgba(0, 0, 0, .1);
    border-bottom: 1px solid black;
}

.contact-info {
    margin-top: 5px;
    margin-left: 15px;
    font-size: 20px;
}

.contact-btn {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
}

.edit-contact-btn, .delete-contact-btn, .save-contact-btn {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 25px;
    border: none;
    width: 150px;
    cursor: pointer;
}

.edit-contact-btn, .delete-contact-btn {
    margin-top: 25px;
}

.edit-contact-btn:hover,  .delete-contact-btn:hover, .save-contact-btn:hover {
    transition: .5s;
    background: black;
    color: white;
}

.edit-contact-btn {
    margin-right: 15px;
}

.edit-input {
    text-decoration: none;
    outline: none;
    width: 100%;
    height: 35px;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 15px;
    padding: 5px;
    font-family: "Font Awesome 5 Free", 'Poppins', sans-serif;
    font-weight: 900;
    background: transparent;
    color: rgba(0, 0, 0, 1);
    border: none;
}

.edit-input::placeholder {
    color: rgba(0, 0, 0, .5);
}

.cancel-btn {
    float: right;
    font-size: 25px;
    position: relative;
    border: none;
    cursor: pointer;
    background: transparent;
}

.cancel-btn:hover {
    transition: .5s;
    color: rgb(201, 67, 67);
}

.delete-contact-btn {
    margin-left: 15px;
}

.save-contact-btn {
    text-align: center;
}

.table {
    margin-left: 100px;
}

.result-table {
    margin-left: 100px;
}

ul {
    margin-left:auto;
    margin-right:auto;
    overflow: hidden;
    display: inline-block;
}

.listed-contacts {
    margin-left: auto;
    margin-right: auto;
    display: inline;
    text-align: center;
    float: left;
    padding-inline: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.list-btn {
    background-image: linear-gradient(to top, #c9d6ff, #e2e2e2);
    width: 75px;
    padding: 10px;
    margin-left: 25px;
    text-align: center;
    border: 2px solid black;
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
}

#phone-btn {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.dropdown-content button {
    display: block;
    color: black;
    text-decoration: none;
    padding: 12px 16px;

}

.dropdown {

    text-align: center;
}

.dropdown-btn:hover {
    transition: .5s;
    background: black;
    color: white;
}

.list-btn:hover {
    transition: .5s;
    background: black;
    color: white;
}

.arrow {
    position: relative;
    right: -6px;
    bottom: 2px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow:hover {
    transition: .5s;
    background: black;
    color: white;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.show {
    display: block;
}

.searching-txt {
    padding: 9px;
    font-size: 16px;
    float: left;
    width: 70%;
    border: none;
    height: 100%;
}

.dropdown-btn {
    text-align: center;
    height: 40px;
    width: 100px;
    background: #fff;
    background-image: linear-gradient(to top, #c9d6ff, #e2e2e2);
    border: black solid 2px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-size: 15px;
    font-family: 'Poppins', 'sans-serif';
}

.pin {
    float: right;
    font-size: 25px;
    color: black;
    background: none;
    border: none;
    transform: rotate(45deg);

}

.pin:hover {
    cursor: pointer;
    transition: .7s;
    color: goldenrod;
}

#add-result {
    color: red;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Poppins', 'sans-serrif';
    text-align: center;
}