*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #6B7A8F;
}

.header {
    overflow: hidden;
    background-color: #242629;
    padding: 20px 10px;
    width: 100%;
}

.logo, .logout-btn {
    display: inline;
}

.logout-btn {
    float: right;

}

.header h1 {
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 40px;
    line-height: 25px;
    border-radius: 4px;
    font-weight: bold;
}

.header h1:hover {
    cursor: default;
}

.logout-btn {
    display: inline;
}

.search {
    display: none;
    left: 50px;
    padding: 0px;
    margin: 0;
    position: absolute;
    width: 500px;
    background: #fff;
    border: black solid 2px;
}

.add {
    left: 50px;
    top: 50px;
    padding: 0px;
    margin: 0;
    position: absolute;
    width: 500px;
    background: #fff;
    border: black solid 2px;
}

.btn {
    display: block;
    padding: 10px;
    float: left;
    width: 10%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: transparent;
    height: 100%;
}

.btn:hover {
    transition: .5s;
    background: black;
    color: white;
    
}

.txt {
    padding: 9px;
    font-size: 16px;
    float: left;
    width: 90%;
    border: none;
    height: 100%;
}

.expand-form {
    display: none;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.expand-form input {
    padding: 10px;
    padding: 9px;
    font-size: 16px;
    float: left;
    width: 100%;
    border: none;
    height: 50px;
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.expand-btn {
    position: relative;
    padding: 0px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background: none;
    color: white;
    justify-content: center;
}

.expand-btn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.expand-btn:hover:before, .expand-btn:active:before {
    visibility: visible;
    transform: scaleX(1);
}

.submit-btn {
    display: block;
    padding: 10px;
    width: 45%;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    outline: 3px solid black;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.submit-btn:hover {
    transition: .5s;
    background: black;
    color: white;
}

.home {
    background-image: url('../img/contact-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.7);
    padding: 150px;
    box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.7);;
}

.home h1 {
    font-size: 100px;
    color: white;
}

.home p {
    font-size: 18px;
    color: white;
}