#main-header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  color: black;
}

body {
  background-color: #6B7A8F;
}

#create-acc-div {
  background-color: lightgrey;
  width: 300px;
  padding: 40px;
  border: 15px solid black;
  margin: 20px;
}

#existing-acc-div {
  background-color: lightgrey;
  width: 300px;
  padding: 40px;
  border: 15px solid black;
  margin: 20px;
}

.create-class {
  position: absolute;
  left: 300px;
  width: 20px;
  border: 15px solid black;
  padding: 15px;
}

.existing-class {
  position: absolute;
  right: 300px;
  width: 20px;
  border: 15px solid black;
  padding: 15px;
}

#clear {
  clear: both;
}
